

<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-d715b12e-2722-4b1f-b338-f56e7a9965b4;AttachDbFilename=|DataDirectory|\aspnet-Website-d715b12e-2722-4b1f-b338-f56e7a9965b4.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook;Integrerated Security=true"
       providerName="System.Data.SqlClient"/>
       
</connectionStrings>
